@font-face {
	font-family: 'shskr';
	src: url(shskr-extralight.eot); /* IE9 Compat Modes */
	src: local('☺'),
		url(shskr-extralight.eot?#iefix) format('embedded-opentype'),
		url(shskr-extralight.woff) format('woff'),
		url(shskr-extralight.ttf) format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'shskr';
	src: url(shskr-light.eot); /* IE9 Compat Modes */
	src: local('☺'),
		url(shskr-light.eot?#iefix) format('embedded-opentype'),
		url(shskr-light.woff) format('woff'),
		url(shskr-light.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'shskr';
	src: url(shskr-normal.eot); /* IE9 Compat Modes */
	src: local('☺'),
		url(shskr-normal.eot?#iefix) format('embedded-opentype'),
		url(shskr-normal.woff) format('woff'),
		url(shskr-normal.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'shskr';
	src: url(shskr-medium.eot); /* IE9 Compat Modes */
	src: local('☺'),
		url(shskr-medium.eot?#iefix) format('embedded-opentype'),
		url(shskr-medium.woff) format('woff'),
		url(shskr-medium.ttf) format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'shskr';
	src: url(shskr-bold.eot); /* IE9 Compat Modes */
	src: local('☺'),
		url(shskr-bold.eot?#iefix) format('embedded-opentype'),
		url(shskr-bold.woff) format('woff'),
		url(shskr-bold.ttf) format('truetype');
	font-weight: 800;
	font-style: normal;
}

/* - */

@font-face {
	font-family: 'shskr-extralight';
	src: url(shskr-extralight.eot); /* IE9 Compat Modes */
	src: local('☺'),
		url(shskr-extralight.eot?#iefix) format('embedded-opentype'),
		url(shskr-extralight.woff) format('woff'),
		url(shskr-extralight.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'shskr-light';
	src: url(shskr-light.eot); /* IE9 Compat Modes */
	src: local('☺'),
		url(shskr-light.eot?#iefix) format('embedded-opentype'),
		url(shskr-light.woff) format('woff'),
		url(shskr-light.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'shskr-medium';
	src: url(shskr-medium.eot); /* IE9 Compat Modes */
	src: local('☺'),
		url(shskr-medium.eot?#iefix) format('embedded-opentype'),
		url(shskr-medium.woff) format('woff'),
		url(shskr-medium.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'shskr-bold';
	src: url(shskr-bold.eot); /* IE9 Compat Modes */
	src: local('☺'),
		url(shskr-bold.eot?#iefix) format('embedded-opentype'),
		url(shskr-bold.woff) format('woff'),
		url(shskr-bold.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
