@font-face {
	font-family: 'shskr';
	src: url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-extralight.eot); /* IE9 Compat Modes */
	src: local('☺'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-extralight.eot?#iefix) format('embedded-opentype'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-extralight.woff) format('woff'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-extralight.ttf) format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'shskr';
	src: url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-light.eot); /* IE9 Compat Modes */
	src: local('☺'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-light.eot?#iefix) format('embedded-opentype'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-light.woff) format('woff'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-light.ttf) format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'shskr';
	src: url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-normal.eot); /* IE9 Compat Modes */
	src: local('☺'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-normal.eot?#iefix) format('embedded-opentype'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-normal.woff) format('woff'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-normal.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'shskr';
	src: url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-medium.eot); /* IE9 Compat Modes */
	src: local('☺'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-medium.eot?#iefix) format('embedded-opentype'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-medium.woff) format('woff'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-medium.ttf) format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'shskr';
	src: url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-bold.eot); /* IE9 Compat Modes */
	src: local('☺'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-bold.eot?#iefix) format('embedded-opentype'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-bold.woff) format('woff'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-bold.ttf) format('truetype');
	font-weight: 800;
	font-style: normal;
}

/* - */

@font-face {
	font-family: 'shskr-extralight';
	src: url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-extralight.eot); /* IE9 Compat Modes */
	src: local('☺'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-extralight.eot?#iefix) format('embedded-opentype'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-extralight.woff) format('woff'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-extralight.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'shskr-light';
	src: url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-light.eot); /* IE9 Compat Modes */
	src: local('☺'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-light.eot?#iefix) format('embedded-opentype'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-light.woff) format('woff'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-light.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'shskr-medium';
	src: url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-medium.eot); /* IE9 Compat Modes */
	src: local('☺'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-medium.eot?#iefix) format('embedded-opentype'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-medium.woff) format('woff'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-medium.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'shskr-bold';
	src: url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-bold.eot); /* IE9 Compat Modes */
	src: local('☺'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-bold.eot?#iefix) format('embedded-opentype'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-bold.woff) format('woff'),
		url(//bitbucket.org/noaidi/font.shskr/raw/3b4b1b41e19777898dabd1fc816e4323f57c1767/shskr-bold.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
